.timer_dropdown_container {
  position: relative;
  display: inline;
}

.timer_dropdown_container .menu-panel {
  position: absolute;
}

.menu-container-timer_hour_item li {
  width: 100% !important;
}