.timer_dropdown_container {
  position: relative;
  display: inline;
}

.timer_dropdown_container .menu-panel {
  position: absolute;
}

.menu-container-timer_hour_item li {
  width: 100% !important;
}

div.timer_dropdown_item {
  margin-bottom: 8px;
}

button.widget-button.btn.timer-item {
  width: 100%;
  margin-bottom: 0 !important;
}

p.time-detail-time {
  margin: 2px 0;
  text-align: left;
}

div.time-info-container {
  padding: 2px;
}

h3.time-header-label {
  text-align: left;
}
